.dropdown {
  position: relative;
  font-size: var(--base-font-size);

  float: right;
}

.dropdown a,
.dropdown a:focus,
.dropdown a:visited {
  text-decoration: none;
  color: var(--text-darker) !important;
}

.dropdown a:hover {
  color: var(--link-hover);
  text-decoration: none;
}

.dropdownToggle {
  padding: var(--spacing-sm) 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  white-space: pre;
  cursor: pointer;
  color: var(--text);
  transition: background-color 0.3s ease, color 0.3s ease;
}

.dropdownToggle span {
  margin-right: var(--spacing-xs);
  display: flex;
  align-items: center;
}

.dropdownMenu {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  margin: 0;
  z-index: 9;
  margin-top: 4px;
  padding: 0;
  list-style: none;
  max-height: 0;
  overflow: hidden;
  background-color: var(--bg-lighter);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: max-height 0.3s ease, opacity 0.3s ease;
  border-radius: 4px;
  font-size: var(--smaller-size);
}

.dropdownMenu.open {
  max-height: 200px;
  opacity: 1;
  overflow-y: auto;
}

.dropdownItem {
  padding: var(--spacing-xs) var(--spacing-sm);
  cursor: pointer;
  color: var(--text-darker) !important;
}

.dropdownItem:hover {
  background: var(--bg-darker);
}

.dropdownItem a,
.dropdownItem span {
  display: block;
  padding: var(--spacing-sm);
}

/* Dark theme styles */
[data-theme="dark"] .dropdownMenu {
  color: var(--text-lighter);
}

[data-theme="dark"] .dropdownItem:hover {
  background: var(--bg-lightest);
}
