.header nav {
  display: flex;
  align-items: center;
  margin: 0 auto;
  padding: 20px 0;
}

.navContainer {
  display: flex;
  width: 100%;
}

.navLinks {
  display: flex;
  align-items: center;
}

.navLinks a,
.navLinks button {
  color: var(--text);
  text-decoration: none !important;
  margin-right: 38px;
  transition: background-color 0.3s ease, color 1s ease;
}

.navLinks a.active {
  font-weight: 500;
}

.themeToggle {
  margin-left: auto;
  margin-right: 12px;
  z-index: 2;
  height: 24px;
}

.right {
  margin-left: auto;
  display: flex;
  align-items: center;
}

.hamburger {
  display: none;
  z-index: 4;
  background: none;
  border: none;
  cursor: pointer;
  color: var(--text);
}

.menuOpenIcon,
.menuCloseIcon {
  opacity: 1;
  transition: transform 0.3s ease-in-out;
}

.menuCloseIcon {
  opacity: 0;
  transform: rotate(-180deg);
}

.userDropdown {
  margin-right: 20px;
}

.userDropdown span {
  max-width: 180px;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-right: 10px;
}

.menuIcon {
  height: 24px;
  width: 24px;
  display: block;
}

.menuIcon.open .menuOpenIcon {
  display: none;
}

.menuIcon.open .menuCloseIcon {
  opacity: 1;
  transform: rotate(0);
}

.resumeButton {
  width: 100%;
  margin: 0 var(--spacing-lg);
  margin-top: var(--spacing-md);
}

.resumeButton > a {
  width: 100%;
}

@media (max-width: 767px) {
  .navLinks a,
  .navLinks button {
    margin-right: 0;
  }

  .navContainer {
    display: flex;
    width: 100%;
  }

  .navContainer {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding-left: inherit;
    padding-right: inherit;
    z-index: 4;
    transition: max-height 0.3s ease-out, padding 0.3s ease-out;
    max-height: 0;
    background-color: var(--bg);
  }

  .navContainer:not(.open) .navLinks {
    display: none;
  }

  .navContainer .navLinks {
    flex-direction: column;
    width: 100%;
    padding: 0 20px;
  }

  .navLinks > a {
    margin-left: -20px;
    padding-left: 20px !important;
    margin-right: -20px;
    padding-right: 20px !important;
  }

  .navLinks a {
    padding: 15px 0;
    width: 100%;
    text-align: left;
  }

  .navLinks a:hover,
  .navLinks a.active,
  .navLinks button:visited {
    background: var(--bg-lighter);
    text-decoration: none !important;
  }

  .navContainer.open {
    display: flex;
    padding-top: 70px;
    padding-bottom: 30px;
    max-height: 300px;
  }

  .navLinks.open + .themeToggle {
    display: none;
  }

  .hamburger {
    display: block;
  }
}

@media (min-width: 768px) {
  .navContainer {
    display: flex;
    align-items: center;
    width: 100%;
  }

  .navLinks {
    flex-grow: 1;
    flex-direction: row;
  }
}
