.label {
  display: inline-block;
  font-size: var(--base-font-size);
  color: var(--text);
  margin-bottom: var(--spacing-xs);
  cursor: pointer;
  background: var(--bg-darkest);
  padding: 5px 10px;
  margin: 0 5px 5px 0;
}

.labelLink {
  /* Reset default anchor styles */
  text-decoration: none;
  color: inherit;

  /* Add styles for link state */
  &:hover,
  &:focus {
    text-decoration: underline;
    color: var(--link);
  }

  &:active {
    color: var(--link-hover);
  }
}
