.table {
  margin-top: var(--spacing-lg);
  width: 100%;
}

.table table {
  width: 100%;
  border-collapse: collapse;
}

.table th {
  font-size: var(--small-size);
  text-align: left;
  user-select: none;
}

.table td,
.table td > div > div {
  font-size: var(--small-size);
}

.actionDropdown ul {
  margin-left: -130px;
}

.actionDropdown ul li span {
  display: flex;
  font-size: var(--medium-size);
}

.table td {
  border-collapse: separate;
}

.table thead tr {
  padding-bottom: 30px;
}

.table tbody tr:nth-child(even) {
  background: var(--gray-100);
}

.table td,
.table th {
  padding: 4px 10px;
}

.table .sortable {
  vertical-align: middle;
  cursor: pointer;
  white-space: nowrap;
}

.table .sortable svg {
  position: relative;
  top: 3px;
}

.loadMoreTrigger {
  text-align: center;
  padding: 20px;
}

.editable > div:not(.input) {
  display: inline-block;
  background: var(--bg-lightest);
  padding: 5px 10px;
}

.editable > div:not(.input):hover {
  border: 1px solid var(--input-border);
  background: var(--bg-lightest);
  padding: 5px 10px;
  display: inline-block;
  cursor: pointer;
  user-select: none;
}

@media (max-width: 767px) {
  .table.mobile {
    overflow-x: visible;
  }

  .table.mobile table,
  .table.mobile thead,
  .table.mobile tbody,
  .table.mobile th,
  .table.mobile td,
  .table.mobile tr {
    display: block;
  }

  .table.mobile thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }

  .table.mobile tr {
    border: 1px solid var(--gray-100);
    margin-bottom: 10px;
    padding-bottom: 20px;
  }

  .table.mobile td {
    border: none;
    position: relative;
    top: 20px;
    padding-left: 50%;
    min-height: 30px; /* Adjust as needed */
  }

  .table.mobile td:before {
    content: attr(data-label);
    position: absolute;
    left: 20px;
    width: 45%;
    padding-right: 10px;
    white-space: nowrap;
    font-weight: bold;
    font-size: var(--small-size);
  }

  .table.mobile tbody tr:nth-child(even) {
    background: transparent;
  }

  .table.mobile .actionDropdown ul {
    margin-left: 0;
    right: 0;
  }
}
