.table {
  margin-top: var(--spacing-lg);
  width: 100%;
}

.table table {
  width: 100%;
}

.table th {
  font-size: var(--small-size);
  text-align: left;
}

.table td,
.table td > div {
  font-size: var(--small-size);
}

.actionDropdown ul {
  margin-left: -130px;
}

.actionDropdown ul li span {
  display: flex;
}

.table td {
  border-collapse: separate;
}

.table thead tr {
  padding-bottom: 30px;
}

.table tbody tr:nth-child(even) {
  background: var(--gray-100);
}

.table td,
.table th {
  padding: 4px 10px;
}

.table table {
  border-collapse: collapse;
}

.table .sortable {
  vertical-align: middle;
  cursor: pointer;
  white-space: nowrap;
}

.table .sortable svg {
  position: relative;
  top: 3px;
}
